---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import ImageBand from '../components/ImageBand.astro';
import Instructor from '../components/Instructor.astro';
import FirstVisit from '../components/FirstVisit.astro';
import Videos from '../components/Videos.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import { t } from '../content';
---

<Layout
  title={t.meta.title}
  description={t.meta.description}
>
  <Header />
  <main>
    <Hero />
    <About />
    <Instructor />
    <FirstVisit />
    <ImageBand />
    <Videos />
    <Contact />
  </main>
  <Footer />
</Layout>